body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  
}

#loginForm {

  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

#email,
#senha {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #A7A9AC;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
}

input::placeholder {
  width: 100%;
  height: 24px;
  padding-left: 5px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 24px;
  color: #777A8A;
}

#btn-entrar {
  width: 100%;
  height: 55px;
  background: #00A335;
  border-radius: 10px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

.subtitulo,
.titulo,
.cadastrese,
.novaContaText {
  width: 100%;
  text-align: center;

}

.subtitulo,
.cadastrese,
.novaContaText {
  font-weight: 400;
  font-size: 16px;
  color: #989898;
  text-align: center;
}
#novaContaAncora,
#ancora{
  color: #00A335;
  text-decoration: none;
}